/*Imagenes de museos*/
[class="museum-card__image"] {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    border: 6px solid rgb(253, 253, 253);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 0 100px;
}

/*Fondo de section*/
[class="museum-list"]{
    background-color: rgb(32, 132, 179);
    border:10px solid rgb(20, 207, 76);
   
}
/*Titulo de la lista de museos*/
[class="museum-list__title"]{
    color: rgb(39, 240, 12);
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family:Georgia;
    background-color: rgb(46, 111, 231);
    border: 5px solid rgb(20, 207, 76);
    padding: 10px;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
   
}
/*Nombre de los museos*/
[class="museum-card__name"]{
    
    font-family: 'Sans-Serif';
    font-size: 3em;
}