/*Fondo de section*/
.museum-list {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/*Titulo de la lista de museos*/
.museum-list__title {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 20px;
}

/*tpdos los items de la lista de museos <ul>*/
.museum-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  list-style: none;
  margin: 0;
}

/*Estilo de los items de la lista de museos <li>*/
.museum-list__item {
  display: flex;
  justify-content: center;
}

/*Tarjetas de los museos <article>*/
.museum-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 20px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  max-width: 100%;
  padding: 1.5rem;
  transition: transform 0.3s ease;
}

/*Nombre de los museos*/
.museum-card__name {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #222;
  font-weight: 700;
}

/*Descripcion de los museos*/
.museum-card__description {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}

/*Boton de ver mas*/
.museum-card__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

/*Imagenes de museos*/
.museum-card__image {
  width: 100%;
  height: 18em;
  object-fit: cover;

  border-radius: 50%;
  border: 2px solid rgb(255, 230, 3);
}

