* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #f4f4f4;
}

.header {
  background-image: url("../img/argentina.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.8);
  padding: 70px;
}

.header__title {
  color: white;
  font-size: 80px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  letter-spacing: 2px;
}

.header__description {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-style: bold;
  line-height: 1.5;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.nav {
  background-color: rgba(0, 162, 255, 0.6);
  padding: 15px;
}

.nav__list {
  list-style-type: none;
  text-align: center;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav__link:hover {
  background-color: rgba(0, 162, 255, 0.8);
  border-radius: 5px;
}

.footer {
  color: #8f8f8f;
  text-align: center;
  padding: 0.2rem;
  width: 100%;
  bottom: 0;
}